.container2-services {
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*div {
        padding: 10px;
        article {
            border: 1px solid red;
            padding: 20px;
        }
    }*/

    .container2-ab {
        /*border: 1px solid red;*/
        padding: 10px;  
        /*display: flex;*/
        /*flex-direction: column;*/
        /*Etiqueta de articulo para dar propiedades de centrado y espaciado*/
        article {
            text-align: center;
            padding: 10px;
            h3 {
                font-weight: bolder;
            }
            p {
                /*color: lawngreen;*/
            }
        }
    }
    
    .container2-cd {
        /*border: 1px solid yellow;*/
        padding: 10px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*Etiqueta de articulo para dar propiedades de centrado y espaciado*/
        article {
            text-align: center;
            padding: 10px;
            h3 {
                font-weight: bolder;
            }
            p {
                /*color: red;*/
            }
        }
    }
}