$dark-blue1: hsl(217, 28%, 15%);
$dark-blue2: hsl(218, 28%, 13%);
$dark-blue3: hsl(216, 53%, 9%);
$dark-blue: hsl(219, 30%, 18%);
$accent-cyan: hsl(176, 68%, 64%);
$accent-blue: hsl(198, 60%, 50%);
$neutral-white: hsl(0, 0%, 100%);

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}